
.page-header {
  background-color: #282c34;
  text-align: center;
  font-size: 48px;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.left-panel{
  width: 55%;
}

.right-panel{
  width: 35%;
}


button{
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
  border-color: lightgray;
  margin: 0 15px;
}

button:hover{
  background-color: lightgray;
}

